:root {
    --bg-color: #EFDAD7;
    --acc-color: #1572A1;
    --sec-color: #E3BEC6;
    --sec-color-2: #9AD0EC;
    --font-color: rgb(54, 54, 54);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--font-color);
}

a:visited, a:link, a:active {
    color: var(--font-color);
}

a:hover {
    color: var(--acc-color);
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Section */

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: 0px 1px 15px var(--font-color);
    position: fixed;
    width: 100%;
    top: 0;
}

header > h1 {
    font-size: 40px;
    font-weight: 100;
    padding-left: 120px;
}

#nav-list {
    display: flex;
    gap: 100px;
    font-size: 18px;
    padding-right: 120px;
}

/* Presentation Section */

/* Mobile display */
@media (max-width: 1079px) {
    #presentation {
        margin-top: 100px;
        display: grid;
        grid-template-rows: repeat(2, 280px);
        grid-template-columns: 100%;
        padding-top: 12vh;
    }
    #greeting > h2 {
        font-size: 32px;
        font-weight: 200;
        letter-spacing: 3px;
        text-align: center;
    }
    #greeting > h3 {
        font-size: 26px;
        font-weight: 200;
        text-align: center;
    }
    #greeting > div {
        display: flex;
        gap: 30px;
        margin: 30px 0;
        font-size: 35px;
        justify-content: center;
    }
    #greeting > span {
        text-align: center;
        display: block;
    }
    #image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    #image > img {
        width: clamp(412px, 100%, 500px);
        height: auto;
    }
}

@media (min-width: 1080px) {
    #presentation {
        width: 80%;
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 5vh;
    }
    #greeting {
        padding: 200px 0 0 0;
    }
    #greeting > h2 {
        font-size: 58px;
        font-weight: 200;
        letter-spacing: 3px;
    }
    #greeting > h3 {
        font-size: 36px;
        font-weight: 200;
    }
    #greeting > div {
        display: flex;
        gap: 30px;
        margin: 30px 0;
        font-size: 35px;
    }
    #image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    #image > img {
        width: 600px;
        height: auto;
    }
}